form {
    display: flex;
    flex-direction: column;
}
form input{
    padding: 10px 20px;
    width: 500px;
    
    margin-bottom: 20px; 
}
form select {
    font-size: 25px; 
    margin-top: 40px;
    padding-left: 10px;
    height: 50px;
    border-top: none; 
    border-color: #D1D1D1;
    border-left: none; 
    border-right: none; 
    width: 500px;
}
form h3 {
    color: #42526E;
    margin-top: 30px;  
    margin-bottom: 0; 
}
.inputTitle {
    font-size: 40px;
    border: 1px solid #D1D1D1;
    border-top: none;
    border-left: none;
    border-right: none;
}
.inputFields input::placeholder {
    color: #D1D1D1;
}
.inputFields {
    margin-top: 30px; 
    margin-left: 350px; 
}
.importanceLvl{
    margin-top: 30px;
}
.selectors {
    border: 1px solid #D1D1D1;
    border-top: none; 
    border-left: none; 
    border-right: none; 
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 20px; 
    margin-top: 10px; 
}
.selectDate {
    border: 2px solid #D1D1D1;
    margin-top: 15px;
    border-top: none; 
    border-left: none; 
    border-right: none; 
    font-size: 20px; 
}
.selectDate::placeholder{
    color: gray;
}
#inputDescription {
    border-style: solid;
    border: 1px solid #D1D1D1; 
    margin-top: 10px; 
    font-size: 20px; 
    padding-top: 20px;
    padding-left: 25px;  
    padding-right: 50px; 
    padding-bottom: 75px; 
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
#subtaskTitle {
    margin-top: 0px !important; 
}
#subtaskText {
    margin-top: 10px;
    margin-bottom: 8px;  
    border-top: none; 
    border-left: none; 
    border-right: none; 
}
#subtaskText::placeholder {
    font-size: 16px;
}
.taskFooter {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.addSubtaskCheckbox input {
    border-color: #4589FF;
    margin-top: 18px;
    margin-right: 20px;    
    width: 16px;
}
.addSubtaskCheckbox { 
    display:flex; 
    align-items: center;
}
.taskFooterButtons {
    margin-right: 100px; 
}
.taskFooterButtons button {
    margin-left: 25px;  
}
#buttonClear {
    padding: 15px 30px;
    border-style: solid;
    border-radius: 0.5em;
    background-color: white;
    color: #647188;
    font-size: 20px;
    border: 1px solid #647188
    border-color: #647188;
}
#buttonCreate {
    padding: 15px 20px; 
    color: white; 
    background-color: #4589FF;
    font-size: 20px; 
    border-radius: 0.5em;
    border: none; 
}