body {
  height: 100vh;
  overflow-x: hidden;
}
#page-container {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.width100 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pointer:hover {
  cursor: pointer;
}
.boardFindandAddtask {
  display: flex;
  padding-top: 170px; 
  align-items: center;
  margin-bottom: 70px;
  margin-left: 285px;
}
.boardFindandAddtask button {
  font-size: 22px;
  color: white;
  border: 1px solid #4589ff;
  border-radius: 10px;
  background-color: #4589ff;
  width: 140px;
  height: 50px;
}
.boardFindandAddtask input {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-right: 35px;
  height: 50px;
  width: 250px;
  padding-left: 25px;
  padding-right: 25px;
}
.boardFindandAddtask input::placeholder {
  color: #d1d1d1;
}
.boardContent {
  display: flex;
  margin-left: 230px;
  gap: 50px;
}
#boardTodo {
  height: 100vh;
  margin-left: 50px;
  width: 25%;
}
#boardProgress {
  height: 100vh;
  width: 25%;
}
#boardFeedback {
  height: 100vh;
  width: 25%;
}
#boardDone {
  height: 100vh;
  margin-right: 50px;
  width: 25%;
}
.boxHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxHeader h2 {
  color: #42526e;
}
.boxHeader img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.boardBox {
  margin-top: 20px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.048);
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 1em;
}
.blueCategory {
  background-color: #0038FF !important;
}
.grayCategory {
  background-color: #8AA4FF !important;
}
.greenCategory {
  background-color: #2AD300 !important;
}
.orangeCategory {
  background-color: #FF8A00 !important;
}
.purpleCategory {
  background-color: #E200BE !important;
}
.redCategory {
  background-color: #FF0000 !important;
}
.boardBoxCategory {
  display: flex; 
  justify-content: center;
  border-radius: 0.5em;
  color: white;
  padding-top: 6px;
  padding-bottom: 4px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100px;
}
.boardBoxCategoryPopup {
  display: flex; 
  justify-content: center;
  border-radius: 0.5em;
  color: white;
  padding-top: 6px;
  padding-bottom: 4px;
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  width: 100px;
}
.boardBoxContent {
  margin-left: 20px;
}
.boardBoxContent h4 {
  color: #4589ff;
  margin-bottom: 0;
}
.boardBoxDescription {
  color: #a8a8a8;
}
.boardBoxFooter img {
  margin-right: 20px;
}
.popupTaskDateTitle{
  display: flex; 
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 25px; 
}
.popupTaskContacts {
  margin-top: 20px;
}
.popupContactsCell {
  display: flex; 
  align-items: center;
  margin-top: 30px; 
  gap: 35px;
}
.contact-pic-Task {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
}

.editButton {
  position: absolute;
  object-fit: cover;
  width: 50px;
  height: 50px; 
  top: 690px;
  left: 500px;
}
.contact-initials-Task {
  text-transform: uppercase;
}
.popupTaskValue { 
  display: flex; 
  align-items: center;
}
.popupTaskValue img {
  width: 120px;
  height: 30px;
  margin-left: 25px; 
}
.boardBoxFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#taskPopUpContent{
  padding: 50px;
}
#popup-bg,
#popup-bg-edit {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 5;
  opacity: 1;
  transition: all 225ms ease-in-out;
}
#popup-addTask,
#popup-addTask-edit {
  position: relative;
  justify-content: center;
  z-index: 6;
  float: right;
  width: 570px;
  height: 1100px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px 0px 30px 30px;
  transform: translateX(600px);
  transition: all 225ms ease-in-out;
}
#popup-Task {
  position: fixed;
  transform: translate(-20%, -20%);
  margin-top: 8vh;
  top: auto;  
  bottom: auto;
  left: auto; 
  justify-content: center;
  width: 580px;
  height: 800px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px 30px 30px 30px;
  transform: translateY(1000px);
  transition: all 225ms ease-in-out;
}
.popup-addTask-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popup-addTask-top h1 {
  font-size: 50px;
  padding-top: 30px;
  padding-left: 10px;
  margin-bottom: 20px; 
}
.popup-slideInAddTask {
  transform: translateX(0) !important;
  transition: all 225ms ease-in-out !important;
}
.popup-slideInTask {
  transform: translateX(0) !important;
  transition: all 225ms ease-in-out !important;
}
.d-none {
  display: none !important;
}
.no-opacity {
  opacity: 0 !important;
  transition: all 225ms ease-in-out;
}
.popup-close-icon-gray {
  position: absolute;
  width: 32px;
  top: 22px;
  right: 22px;
  cursor: pointer;
}
.buttonCreate {
  margin-top: 25px;
  padding: 15px 20px 15px 20px;
  color: white;
  background-color: #4589ff;
  font-size: 20px;
  border-radius: 0.5em;
  border: none;
}
form {
  display: flex;
  flex-direction: column;
}
form input {
  padding: 10px 20px;
  width: 500px;

  margin-bottom: 20px;
}
form select {
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 50px;
  border-top: none;
  border-color: #d1d1d1;
  border-left: none;
  border-right: none;
  width: 500px;
}
form h3 {
  color: #42526e;
  margin-top: 0;
  margin-bottom: 0;
}
#inputTitle {
  font-size: 40px;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
}
.inputFields input::placeholder {
  color: #d1d1d1;
}
.inputFields {
  margin-top: 0;
  margin-left: 40px;
}
#importanceLvl {
  margin-top: 10px;
  margin-bottom: 20px;
}
.selectors {
  border: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
}

#selectDate {
  border: 1px solid #d1d1d1;
  margin-top: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
}
.selectDate::placeholder {
  color: gray;
}
#inputDescription {
  border-style: solid;
  border: 1px solid #d1d1d1;
  margin-top: 10px;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 50px;
  padding-bottom: 75px;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
#subtaskTitle {
  margin-top: 0px !important;
}
#subtaskText {
  margin-bottom: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
}
#subtaskText::placeholder {
  font-size: 16px;
}
.taskFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#addSubtaskCheckbox input {
  border-color: #4589ff;
  margin-right: 20px;
  width: 16px;
}
#addSubtaskCheckbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.subtaskList {
  display: flex;
  margin-top: 10px;
}
.subtaskList input {
  margin: 0;
  padding: 0;
}
.subtaskList p {
  margin: 0;
  padding: 0;
}
.taskFooterButtons {
  margin-right: 100px;
}
.taskFooterButtons button {
  margin-left: 25px;
}
#buttonClear {
  padding: 15px 30px;
  border-style: solid;
  border-radius: 0.5em;
  background-color: white;
  color: #647188;
  font-size: 20px;
  border: 1px solid #647188;
  border-color: #647188;
}
#buttonCreate {
  padding: 15px 20px;
  color: white;
  background-color: #4589ff;
  font-size: 20px;
  border-radius: 0.5em;
  border: none;
}
#buttonCreate:hover {
  cursor: pointer;
}
#buttonClear:hover {
  cursor: pointer;
}
#selectContact {
  margin-top: 10px;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
}
#newContactText::placeholder {
  font-size: 16px;
}
#newCategoryText::placeholder {
  font-size: 16px;
}
#newCategoryText {
  margin-top: 15px;
  margin-bottom: 0;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
}
.importanceHard:hover {
  border: 2px solid #ff3d00;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
.importanceMid:hover {
  border: 2px solid #ffa800;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
.importanceLow:hover {
  border: 2px solid #7ae229;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
.inputCategory {
  display: flex;
  flex-direction: column;
}
.categoryColor:hover {
  cursor: pointer;
  border-radius: 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkSelector {
  width: 20px;
  position: relative;
}
.fa-calendar-minus {
  color: #4589ff;
  position: relative;
  width: 30px;
  left: 460px;
  top: 47px;
}
.fa-check {
  padding-left: 10px;
  padding-top: 3px;
  width: 23px;
  color: #4589ff;
}
.checkAndCrossIcons {
  display: flex;
  position: relative;
  z-index: 2;
  top: 33px;
  left: 430px;
}
.checkAndCrossIcons p {
  padding: 5px;
}
.fa-xmark {
  color: #4589ff;
  padding-right: 12px;
  padding-top: 3px;
}
.checkAndCrossIconsEmail {
  position: relative;
  width: 100px;
  top: 49px;
  left: 430px;
}
.contactX {
  padding-bottom: 10px;
  padding-right: 8px;
}
.contactCheck {
  padding-bottom: 10px;
  padding-left: 5px;
}
.checkAndCrossIconsCategory {
  display: flex;
  position: relative;
  top: 10px;
  left: 10px;
}
.abbreviationIconsBox {
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px; 
  border: 2px solid #ffffff; 
  width: 35px !important;
  height: 35px !important;
}
.boxContacts {
  position: relative;
  display: flex; 
}
#abbreviationIconsBox1 {
  position: absolute;
  left: 0px;
}
#abbreviationIconsBox2 {
  position: absolute;
  left: 27px;
}
#abbreviationIconsBox3 {
  position: absolute;
  left: 54px;
}
.okButton {
  position: absolute;
  z-index: -1;
  top: 690px;
  left: 490px;
  object-fit: cover;
  width: 70px;
  height: 50px; 
}
.selectorPupupContacts {
  scrollbar-width: none;
  max-height: 100px; 
  overflow-x: hidden; 
  overflow-y: scroll;
  white-space: nowrap;
}
@media(max-width: 1100px) {
  
  .boardContent {
    width: 60vw !important;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  #boardTodo {
    height: 100%;
    width: 50vw;
    margin-top: 0;
  }
  #boardProgress {
    margin-left: 50px;
    height: 100%;
    width: 50vw;
    margin-top: 0;
  }
  #boardFeedback {
    margin-left: 50px;
    height: 100%;
    width: 50vw;
    margin-top: 0;
  }
  #boardDone {
    margin-left: 100px;
    height: 100%;
    width: 50vw;
    margin-top: 0;
    margin-bottom: 100px;
  }
  #boardDone h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #boardFeedback h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #boardTodo h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #boardProgress h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media(max-width: 800px) {
  #bodyBoard {
    padding-left: 0 !important; 
    padding-right: 0 !important;
  }
  .boardContent {
    margin-top: 20px !important; 
    width: 100vw !important;
  }
  #boardTodo {
    width: 80vw !important;
    margin-left: 0px;
  }
  #boardProgress {
    width: 80vw !important;
    margin-left: 0px;
  }
  #boardFeedback {
    width: 80vw !important;
    margin-left: 0px;
  }
  #boardDone {
    width: 80vw !important;
    margin-left: 0px;
    margin-right: 0px;
  }
  .boardContent {
    margin-left: 0; 
    align-items: center !important;
  }
  .addButton {
    display: none;
  }
  .boardFindandAddtask {
    padding-top: 150px; 
    margin-bottom: 50px; 
    margin-left: 0;
    display: flex; 
    justify-content: center;
  }
  .boardFindandAddtask input {
    margin-left: 35px; 
  }
}