body {
    height: 100vh;
    overflow: hidden;
}

.contacts-box {
    width: 450px;
    height: calc(100% - 100px);
    overflow-y: scroll;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    padding: 48px;
}

.addContact-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 197px;
    height: 53px;
    right: 2%;
    top: calc(2% + 100px);
    background-color: #4589ff;
    border: 1px solid #4589ff;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

.addContact-button:hover {
    background: #005dff;
    transition: all 225ms ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 225ms ease-in-out;
}

.addContact-button > img {
    width: 33px;
}

#popup-bg,
#popup-bg-edit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
    opacity: 1;
    transition: all 225ms ease-in-out;
}

#popup-contact,
#popup-contact-edit {
    position: relative;
    width: 580px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0px 30px 30px 30px;
    transform: translateX(-600px);
    transition: all 225ms ease-in-out;
}

.popup-slideIn {
    transform: translateX(0) !important;
    transition: all 225ms ease-in-out !important;
}

.d-none {
    display: none !important;
}

.no-opacity {
    opacity: 0 !important;
    transition: all 225ms ease-in-out;
}

.popup-contact-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 91px 46px;
    gap: 12px;
    width: 100%;
    height: 35%;
    background-color: #4589ff;
    border-radius: 0px 30px 0 0;
}

.popup-contact-edit-top {
    background-color: #005dff;
}

.popup-contact-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 91px 46px;
    gap: 35px;
    width: 100%;
    height: 65%;
    background: white;
    border-radius: 0px 0 30px 30px;
}

.contact-top-logo {
    width: 55px;
    object-fit: cover;
}

.contact-top-headline {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.contact-top-subtext {
    color: white;
    font-size: 27;
    font-weight: 400;
}

.contact-profil-box {
    background-color: #d1d1d1;
    width: 120px;
    min-height: 120px;
    border-radius: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border: 3px solid white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.contact-profil-img {
    width: 50px;
    object-fit: cover;
}

.contact-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    width: 422px;
    height: 49px;
    position: relative;
}

.contact-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    border: none;
    outline: none;
    font-size: 20px;
    width: 90%;
}

.contact-input::placeholder {
    font-size: 19px;
    line-height: 120%;
    color: #d1d1d1;
}

.contact-icon {
    width: 20px;
    object-fit: contain;
}

.contact-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
}

.contact-button-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    height: 48px;
    width: 246px;
    background: #4589ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 23px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.contact-button-blue > img {
    width: 16px;
    object-fit: cover;
}

.contact-button-blue:hover {
    background: #005dff;
    transition: all 225ms ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.contact-button-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    height: 48px;
    width: 165px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    color: #647188;
    font-size: 23px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.contact-button-white > img {
    width: 11px;
    object-fit: cover;
}

.contact-button-white:hover {
    transition: all 225ms ease-in-out;
    border: 2px solid #4589ff;
    color: #4589ff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup-close-icon {
    position: absolute;
    width: 32px;
    top: 22px;
    right: 22px;
    cursor: pointer;
}

.contact-card {
    display: flex;
    align-items: center;
    width: 350px;
    height: 77px;
    cursor: pointer;
    background-color: white;
    padding: 15px 25px;
    gap: 35px;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
}

.card-bg-blue{
    background-color: #4589ff;
    color: white;
}

.contact-card:hover {
    background-color: #4589ff;
    color: white;
    transition: all 225ms ease-in-out;
}

.contact-pic {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
}

.contact-initials {
    text-transform: uppercase;
}

.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.data-name {
    font-size: 19px;
}

.data-mail {
    font-size: 16px;
}

.alphabet-card {
    display: flex;
    align-items: center;
    width: 350px;
    height: 77px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 39px 0 39px;
    font-size: 19px;
    margin-bottom: 12px;
}

.contacts-wrapper {
    display: flex;
    height: 100%;
}

#contacts-right {
    transform: translateX(0);
    transition: all 300ms ease-out;
}

.slided-out {
    transform: translateX(3000px) !important;
    transition: all 300ms ease-out !important;
}

.contacts-detail-top {
    display: flex;
    align-items: center;
    padding: 48px;
}

.contact-pic-detail {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    color: white;
    font-size: 47px;
    font-weight: 500;
}

.contact-detail-name-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 48px;
    gap: 16px;
}

.contact-detail-name {
    font-size: 48px;
    font-weight: 600;
}

.contact-detail-task {
    padding: 0 0 0 24px;
    font-size: 16px;
    color: #005dff;
    cursor: pointer;
    position: relative;
}

.plus {
    position: absolute;
    font-size: 32px;
    left: 0;
    top: -12px;
}

.contacts-detail-bottom {
    display: flex;
}

.contact-detail-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 48px 48px 48px;
    gap: 16px;
}

.contact-detail-info>a{
    text-decoration: none;
    color: inherit;
}

.info-headline {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 16px;
}

.info-subheadline {
    font-size: 16px;
    font-weight: 700;
}

.info-email {
    color: #005dff;
    margin-bottom: 16px;
    cursor: pointer;
}

.info-phone {
    cursor: pointer;
}

.contact-detail-change {
    margin-left: 60px;
    cursor: pointer;
}

.change-icon {
    height: 30.9px;
    object-fit: cover;
}

.popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0 5px;
    height: 74px;
    width: 100%;
    background-color: #4589ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    transform: translateY(200px);
    transition: transform 500ms ease-in-out;
}

.slideIn {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}

.popup > span {
    text-align: center;
}
