.help-wrapper {
    padding: 148px 48px 48px 278px;
}

h1 {
    color: #4589ff;
}

h2 {
    color: #005dff;
}

.help-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #005dff;
    width: 50px;
}
