#login-page {
    height: 100vh;
    width: 100vw;
    background-color: #4589ff;
    overflow: hidden;
    position: relative;
    transition: all 225ms ease-in-out;
}

#login-logo-white {
    width: 265px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    transition: all 225ms ease-in-out;
}

#login-logo-blue {
    width: 265px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    transition: all 225ms ease-in-out;
}

.logoMovement {
    width: 100px !important;
    left: 5.35% !important;
    right: 87.71% !important;
    top: 7.81% !important;
    bottom: 80.28% !important;
    transform: translate(0) !important;
}

.pageColorChange {
    background-color: white !important;
}

.no-opacity {
    opacity: 0 !important;
}

.d-none {
    display: none !important;
}

.login-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 0px;
    gap: 35px;
    width: 45%;
    height: 55%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: all 225ms ease-in-out;
}

.login-box-headline {
    display: block;
    font-size: 48px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    position: relative;
}

.login-box-headline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    margin: auto;
    height: 3px;
    width: 21%;
    background-color: #4589ff;
}

.login-form {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    width: 422px;
    height: 49px;
    position: relative;
}

.login-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    border: none;
    outline: none;
    font-size: 20px;
    width: 90%;
}

.login-input::placeholder {
    font-size: 19px;
    line-height: 120%;
    color: #d1d1d1;
}

.login-icon {
    width: 20px;
    object-fit: contain;
}

.visibility-icon {
    cursor: pointer;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-button-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 135px;
    height: 48px;
    background: #4589ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 23px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.login-button-blue:hover {
    background: #005dff;
    transition: all 225ms ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.login-button-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 197px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    color: #647188;
    font-size: 23px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.login-button-white:hover {
    transition: all 225ms ease-in-out;
    border: 2px solid #4589ff;
    color: #4589ff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.login-options {
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-forgot {
    color: #005dff;
    text-decoration: none;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    border: 2px solid #4589ff;
    border-radius: 3px;
}

#login-signup-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    right: 5.35%;
    top: 7.81%;
    transition: all 225ms ease-in-out;
}

.signup-text {
    font-size: 23px;
}

.login-fault {
    position: absolute;
    top: 50px;
    left: 24px;
    font-size: 13px;
    color: #ff8190;
}

.popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0 5px;
    height: 74px;
    width: 45%;
    background-color: #4589ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    transform: translateY(200px);
    transition: transform 500ms ease-in-out;
}

.popup-white {
    background-color: #ffffff;
    color: black;
}

.popup > span {
    text-align: center;
}

.slideIn {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}

.arrow-back {
    position: absolute;
    width: 25px;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
    left: 4%;
    top: 11.5%;
}

.forgot-box-text {
    margin: 0 0 35px 0;
    padding: 0 65px 0 65px;
    text-align: center;
    font-size: 23px;
}

.reset-box-text {
    margin: 0;
    padding: 0 65px 0 65px;
    text-align: center;
    font-size: 23px;
}

.forgot-button {
    width: 100%;
}

#forgot-fault {
    position: absolute;
    top: 50px;
    left: 24px;
    font-size: 13px;
    color: #ff8190;
}

#reset-fault {
    position: absolute;
    top: 50px;
    left: 24px;
    font-size: 13px;
    color: #ff8190;
}

#reset-accept {
    position: absolute;
    top: 50px;
    left: 24px;
    font-size: 13px;
    color: #2a9d47;
}

.deactivated-button {
    pointer-events: none;
    opacity: 0.3;
}

/** responsive section **/
@media (max-width: 1200px) {
    .login-box {
        height: 60%;
        width: 55%;
    }

    .popup {
        width: 55%;
    }
}

@media (max-width: 1000px) {
    .login-box {
        height: 60%;
        width: 60%;
    }

    .popup {
        width: 60%;
    }

    .logoMovement {
        width: 70px !important;
        top: 4.81% !important;
    }

    .login-box-headline {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .login-box {
        height: 62%;
        width: 65%;
    }

    .popup {
        width: 65%;
    }

    .arrow-back {
        top: 8.5%;
    }
}

@media (max-width: 750px) {
    .login-box {
        height: 65%;
        width: 90%;
    }

    .popup {
        width: 90%;
    }

    #login-signup-box {
        right: 50% !important;
        top: 90% !important;
        transform: translateX(50%) !important;
    }

    .signup-text {
        white-space: nowrap;
    }

    .logoMovement {
        width: 60px !important;
        top: 3.81% !important;
    }
}

@media (max-width: 550px) {
    .login-box {
        height: 72%;
    }

    .popup {
        width: 100%;
    }

    .logoMovement {
        width: 60px !important;
        top: 1.81% !important;
    }

    .login-input-box {
        width: 90%;
        padding: 13px 10px;
    }

    .login-options {
        flex-direction: column-reverse;
        gap: 17px;
    }

    .login-button {
        flex-direction: column;
        gap: 10px;
    }

    .login-button-blue {
        width: 197px;
    }

    .signup-button {
        width: 98px;
        height: 36px;
        font-size: 16px;
        padding: 5px 15px;
    }

    .signup-text {
        font-size: 16px;
    }

    .login-box-headline::after {
        top: 70px;
    }

    .forgot-headline {
        padding: 0 50px 0 50px;
    }

    .forgot-headline::after {
        top: 130px !important;
    }

    .reset-headline::after {
        top: 120px !important;
    }

    .login-form {
        padding-top: 5px;
        width: 90%;
        gap: 22px;
    }

    .arrow-back {
        top: 2.5%;
    }

    .forgot-box-text {
        font-size: 19px;
    }

    .forgot-button {
        font-size: 16px;
        padding: 5px 20px;
        width: 90%;
    }

    .login-input {
        font-size: 16px;
    }

    #forgot-fault,
    #reset-accept,
    #reset-fault {
        left: 10px;
    }

    #reset-button {
        margin-top: 25px;
    }
}

@media (max-width: 350px) {
    .forgot-headline {
        padding: 0;
    }

    .forgot-box-text {
        padding: 0 10px 0 10px !important;
    }
}

@media (max-height: 900px) {
    .login-box {
        gap: 15px;
    }

    .login-form {
        gap: 20px;
        padding-top: 10px;
    }

    .login-box-headline::after {
        top: 70px;
    }

    .forgot-box-text {
        margin: 0 0 0 0;
        padding: 0 25px 0 25px;
    }

    .forgot-button {
        margin-top: 10px;
    }
}

@media (max-height: 600px) {
    .login-box {
        position: absolute;
        overflow: auto;
        height: 70%;
    }

    .logoMovement {
        width: 30px !important;
        top: 1.81% !important;
        left: 2% !important;
    }

    #login-signup-box {
        top: 2%;
        right: 2%;
    }

    .signup-text {
        font-size: 18px;
    }
}

@media (max-height: 600px) and (min-width: 551px) {
    .login-box {
        justify-content: flex-start;
    }
}

@media (max-height: 600px) and (max-width: 550px) {
    .login-box {
        justify-content: flex-start;
    }

    .logoMovement {
        display: none !important;
    }

    .login-box {
        height: 83%;
        top: 10px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-height: 500px) {
    #login-signup-box {
        display: none;
    }

    .login-box {
        height: 100%;
        width: 100%;
        top: 0px;
    }
}
