#login-page {
    height: 100vh;
    width: 100vw;
    background-color: #4589ff;
    position: relative;
    transition: all 225ms ease-in-out;
}

#login-logo-white {
    width: 265px;
    object-fit: cover;
    position: absolute;
    left: 40.83%;
    right: 40.76%;
    top: 34.18%;
    bottom: 34.27%;
    transition: all 225ms ease-in-out;
}

#login-logo-blue {
    width: 265px;
    object-fit: cover;
    position: absolute;
    left: 40.83%;
    right: 40.76%;
    top: 34.18%;
    bottom: 34.27%;
    transition: all 225ms ease-in-out;
}

.logoMovement {
    width: 100px !important;
    left: 5.35% !important;
    right: 87.71% !important;
    top: 7.81% !important;
    bottom: 80.28% !important;
}

.pageColorChange {
    background-color: white !important;
}

.no-opacity {
    opacity: 0 !important;
}

.d-none {
    display: none !important;
}

.login-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 45%;
    height: 40%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: all 225ms ease-in-out;
}

.login-box-headline {
    font-size: 48px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    position: relative;
}

.login-box-headline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    margin: auto;
    height: 3px;
    width: 21%;
    background-color: #4589ff;
}

.login-form {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 13px 21px;
    width: 422px;
    height: 49px;
}

.login-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    border: none;
    outline: none;
    font-size: 20px;
    width: 90%;
}

.login-input::placeholder {
    font-size: 19px;
    line-height: 120%;
    color: #d1d1d1;
}

.login-icon {
    width: 20px;
    object-fit: contain;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-button-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 135px;
    height: 48px;
    background: #4589ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 23px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.login-button-blue:hover {
    background: #005dff;
    transition: all 225ms ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.login-button-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 197px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    color: #647188;
    font-size: 23px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.login-button-white:hover {
    transition: all 225ms ease-in-out;
    border: 2px solid #4589ff;
    color: #4589ff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.login-options {
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-forgot {
    color: #005dff;
    text-decoration: none;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    border: 2px solid #4589ff;
    border-radius: 3px;
}

#login-signup-box {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    right: 5.35%;
    top: 7.81%;
    transition: all 225ms ease-in-out;
}

.signup-text {
    font-size: 23px;
}
