* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER CSS START */
header {
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #4589ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.headerIcon {
    padding: 20px 39px;
}

.headerProfile {
    display: flex;
    align-items: center;
}

.headerProfile a {
    text-decoration: none;
    color: white;
}

.headerImgProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    width: 49px;
    height: 49px;
    border: 3px solid white;
    margin-right: 39px;
}

.headerImgProfile:hover {
    cursor: pointer;
}

.headerImgInitials {
    font-size: 18px;
    color: #ffffff;
}

#logOut-popup-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100vw);
    transition: all 125ms ease-out;
    z-index: 5 !important;
    height: 100vh;
}

.logOut-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    top: 90px;
    right: 60px;
    cursor: pointer;
    z-index: 2;
    transition: all 125ms ease-out;
    overflow: hidden;
}

.logOut-popup a {
    text-decoration: none;
    color: #4589ff;
}

.slideLogOutIntoView {
    transform: translateX(0) !important;
    transition: all 125ms ease-out;
}

.logOut-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #4589ff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
}

.logOut-text:hover {
    background-color: #d2e3ff;
    transition: all 225ms ease-in-out;
}

.popup-link-mobile {
    display: none;
}

/* HEADER CSS END */

/* SIDEBAR CSS START */

.menu-mobile {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 100px;
    float: left;
    z-index: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    height: calc(100vh - 100px);
    width: 230px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.178);
    padding-top: 100px;
}

.sidebar-mobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 100vw;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.178);
}

.sidebar a,
.sidebar-mobile a {
    text-decoration: none;
    color: #42526e;
}

.sidebar img,
.sidebar-mobile img {
    width: 30px;
    object-fit: cover;
}

.sidebarBox {
    height: 50px;
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.navHighlighted {
    background-color: #d2e3ff;
    border-radius: 0.5em;
}

#iconSummary {
    padding-right: 4px;
}

#navSummary {
    padding-top: 15px;
    padding-bottom: 15px;
}

#legalNotice {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    padding-right: 20px;
    padding-left: 10px;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#legalNotice p {
    color: #42526e;
}

/* SIDEBAR CSS END */


/* start popup css */

.popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0 5px;
    height: 74px;
    width: 45%;
    background-color: #4589ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    transform: translateY(200px);
    transition: transform 500ms ease-in-out;
}

.slideIn {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}

.popup > span {
    text-align: center;
}

/* end popup css */


/* responsive section */
@media(max-width: 1200px) {
    .popup {
        width: 55%
    }
}

@media(max-width: 1000px) {
    .popup {
        width: 60%
    }
}

@media(max-width: 900px) {
    .popup {
        width: 65%
    }
}

@media(max-width: 750px) {
    .popup {
        width: 90%
    }
}

@media(max-width: 650px) {
    .popup {
        width: 100%
    }
}

@media (max-width: 800px) {
    .menu-desktop {
        display: none !important;
    }

    .menu-mobile {
        display: block !important;
    }

    nav {
        flex-direction: row;
    }

    .sidebarBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 20vw;
        height: 100%;
        gap: 5px;
        margin: 0;
    }

    .sidebarBox > p {
        margin: 0;
    }

    .navHighlighted {
        width: 20vw;
    }

    header {
        height: 80px;
    }

    .header-text {
        display: none;
    }

    .header-help {
        display: none;
    }

    .popup-link-mobile {
        display: flex;
    }

    .logOut-popup {
        top: 70px;
        right: 10px;
    }

    .headerIcon {
        padding: 20px 12px;
    }

    .headerImgProfile {
        margin-right: 12px;
    }
}

@media (max-width: 450px) {
    .sidebar-mobile p {
        font-size: 14px;
    }

    .sidebarBox {
        width: 23vw;
    }
}

@media (max-width: 350px) {
    .sidebar-mobile p {
        font-size: 12px;
    }

    .sidebarBox {
        width: 25vw;
        padding: 7px;
    }
}
