* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    background-color: #4589FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.headerIcon {
    padding: 20px 39px; 
}
.headerProfile{
    display: flex;
    align-items: center;
}
.headerProfile a {
    text-decoration: none;
    color: white; 
}
.headerImgProfile {
    border-radius: 3em;
    border: 3px solid white;
    margin-right: 39px;
}
.headerImgProfile:hover {
    cursor: pointer;
}