<header>
  <div class="headerIcon">
    <img src="./assets/img/icons/IconHeader.png" />
  </div>
  <div class="headerProfile">
    <a href="#">Kanban Project Managment Tool</a>
    <img style="padding: 30px; cursor: pointer" src="./assets/img/QuestionIcon.png" />
    <div id="header-profil-bg" class="headerImgProfile" onclick="showLogOutPopUp()">
      <span id="header-profil-initials" class="headerImgInitials"></span>
    </div>
  </div>
  <div id="logOut-popup">
    <span class="logOut-text">Log out</span>
  </div>
</header>
