<div class="sidebar-mobile">
    <nav>
        <a href="./summary.html" id="navSummary-mobile" onclick="highlightedNavbar(1)" class="sidebarBox">
            <img id="iconSummary-mobile" src="./assets/img/icons/iconSummary.png" />
            <p>Summary</p>
        </a>
        <a href="./board.html" id="navBoard-mobile" onclick="highlightedNavbar(2)" class="sidebarBox">
            <img src="./assets/img/icons/iconBoard.png" />
            <p>Board</p>
        </a>
        <a href="./addTask.html" id="navTask-mobile" onclick="highlightedNavbar(3)" class="sidebarBox">
            <img src="./assets/img/icons/iconTask.png" />
            <p>Add Task</p>
        </a>
        <a href="./contacts.html" id="navContacts-mobile" onclick="highlightedNavbar(4)" class="sidebarBox">
            <img src="./assets/img/icons/iconContacts.png" />
            <p>Contacts</p>
        </a>
    </nav>
</div>
